services:
  mongodb:
    image: mongo:latest
    read_only: true
    restart: no
    ports:
      - 27017:27016
    tmpfs:
      - /data/db:size=512M,mode=1700
    command: mongod --quiet --logpath /dev/null --nounixsocket
    healthcheck:
      test: ["CMD","mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 1s
      timeout: 1s
      retries: 10
